
.ui.mini.image {
	border-radius: 0;
}

.home-logo > img {
	border-radius: 0;
	width: 35em;
	height: auto;
}

.home-title > h2 {
	font-size: 125%;
}

.home .hero .octicon {
	color: silver;
	font-size: 2em;
}

